@import url('http://fonts.cdnfonts.com/css/kicker');
*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kicker', sans-serif;                              
    overflow-x: hidden;
}