@import url('http://fonts.cdnfonts.com/css/heebo');



*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;                                                                         

}
