.adminMain {

    display: flex;
    min-height: 100vh
}
.sidePanel {
    background-color: #300c44;
    width: 18%;
    padding: 30px 0 20px 0;
}
.dashboard{
    width: 82%;
}
.eachSection {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 5px 10px 15px;
    line-height: 1.2px;
}
.icons {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #ffff;
}
.sectionText{
    display: flex;
    align-items: center;
    padding: 19px 10px 10px 10px;
    color: #ffff;
}
.eachSection:hover {
    background-color: #210530;;
}