.tableContainer {
    overflow-y: scroll;
    background-color: rgb(247, 247, 247);
    margin: 30px 4px 10px 4px;
    padding: 20px 10px;
    
}

tr {
    margin: 20px 2px; 
    padding: 12px 2px;
}
  td:first-child {
      width: 30%;
      text-align: left;
  }
  td {
      margin: 20px 2px; 
    text-align: center;
}
